/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

.page {
  margin-top: 2em;
  margin-bottom: 2em;
}

.logo {
  margin-bottom: 2em;
}

.logo__paw {
  width: 37px;
  transform: rotate(-34deg);
  vertical-align: text-bottom;
}

.logo__text {
  font-family: 'Karla', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #88B04B;
}

.current-user {
  margin-right: 10px;
}

.sign-out {
  text-align: right;
  margin-bottom: 2em;
}

.field, .actions {
  margin-bottom: 1em;
}

.folders-nav {
  margin-bottom: 1em;
}

.folders-nav-link {
  color: $gray-light;
}

.folders-nav-link--active {
  color: $brand-primary;
}

.compose-btn {
  margin-bottom: 1em;
}

.folders-nav-link--unread-messages {
  font-weight: bold;
}

.reply-form {
  margin-bottom: 1em;
}

.message-link {
  display: block;
  margin: -.5em -.5em -1em -.5em;
  padding: .5em;
  &, &:hover, &:active, &:focus {
    color: $gray-dark;
    text-decoration: none;
  }
  &:hover {
    background-color: #f8f8f8;
  }
}

.message-link--unread {
  font-weight: bold;
}

.message--body {
  margin-top: .5em;
}

.message-separator {
  margin: 2em 0 1em;
  &:first-of-type {
    display: none;
  }
}

.conversation-messages {
  margin-bottom: 2em;
}
